<div>
    <h1>
        Welcome to {{ title }}!
    </h1>
    <button (click)="onWriteTelemetry() ">Write Some Telemetry Data</button>
    <button (click)="onReadTelemetry() ">Read Telemetry Data</button>

    <ngx-datatable #table class='material' [columns]="columns " [columnMode]=" 'force' " [headerHeight]="50 " [footerHeight]="50 " [rowHeight]=" 'auto' " [limit]="10 " [rows]='rows'>
    </ngx-datatable>


</div>

<ul>
    <li>
        <a target="_blank " rel="noopener " href="https://www.mycostech.com ">Mycos Technologies</a>
    </li>
    <li>
        <a target="_blank " rel="noopener " href="https://www.harperdb.io ">HarperDB</a>
    </li>
</ul>